:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-screen-container {
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  display: flex; /* Optional: Flexbox for alignment */
  box-sizing: border-box; /* Include padding and border in height/width */
}

/* App.css */
.hover-link {
  transition: color 0.3s ease;
}

.hover-link:hover {
  color: #ffcc00; /* Yellow highlight color on hover */
  text-decoration: underline;
}


button {
  border-radius: 20px; /* Rounded corners for buttons */
}
